{% extends "layout.html" %}
<script src="proxyjs.js"></script>
{% block body %}
<div class="container ">
    <h2>Proxy Settings</h2> This page can only be visited by proxy admins. </p>

</div>
<div class="container">
    <table class="table table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th style="width:50%">List of Admins</th>
                <th style="width:50%">
                    <form role="form" method="POST" id="reused_form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="newadmin">
                            <input type="password" class="form-control" placeholder="Password" name="newadminpass">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Add Admin</button>
                            </div>
                        </div>
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for admin in listofadmins %}
            <tr>
                <td>{{ admin['username'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    <div class="d-flex justify-content-between">
                        <div>
                            List of Cached Sites
                        </div>
                        <div>
                            <form role="form" method="POST" id="reused_form">
                                <button class="btn btn-primary" type="submit" name="clear">Clear
                                    Cache!</button></form>

                        </div>
                    </div>
                </th>

            </tr>
        </thead>
        <tbody>
            {% for cache in cachedsites %}
            <tr>
                <td>{{ cache['url'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th style="width:50%">List of Managers </th>
                <th style="width:50%">
                    <form role="form" method="POST" id="reused_form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="newman">
                            <input type="password" class="form-control" placeholder="Password" name="newmanpass">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Add Manager</button>
                            </div>
                        </div>
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for mans in listofmans %}
            <tr>
                <td>{{ mans['username'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th style="width:50%">List of Blocked Sites</th>
                <th style="width:50%">
                    <form role="form" method="POST" id="reused_form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Add Blocked Site" name="newblocked">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for site in blockedsites %}
            <tr>
                <td>{{ site }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th style="width:50%">List of Sites for Admins</th>
                <th style="width:50%">
                    <form role="form" method="POST" id="reused_form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Add Admin Site" name="newadminsite">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for site in adminsites %}
            <tr>
                <td>{{ site }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}